.navbar{
  font-family: 'Montserrat', sans-serif;

}
.navbar-brand{
  font-family: 'Monotype corsiva', sans-serif;
  font-size: large;
}
.logo{
  height: 3vw;
  width: 3vw;
  border-radius: 50%;
}
.navbar{
  text-align: center;
  float: center;
}
.webName{
  display: none;
}
@media (max-width:700px){
  .logo{
    height: 10vw;
    width: 10vw;
    border-radius: 50%;
  }
  .webName{
    display: inline-block;
    text-align: center;
    float: none;
  }
}
body{
  background-color: #eaeaea;
  /* position: absolute; */
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}
.carousel-item {
  width: 100%;
  height: 40vw;

}
.car-img{
  height:45vw;
  width: 100%;

}
.navh1{
    color: white;
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: black;
    font-family: 'Cinzel', serif;
    text-align: center;
    opacity: 1;
}
.dibba{
  background: rgba(0, 0, 0, 0.5);
}

h3{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
.product-text{
  text-decoration: none;
  color: black;
}
.product-text:hover{
  text-decoration: none;
  color: red;
}

ul{
  padding: 0;
}
ul#menu li{
  display:inline-block;
  padding: 30px;
}

ul#menu li:hover{
  color: red;
  transform: scale(1.1);
  transition: color .3s ease-in-out;
  transition: transform .2s ease-in-out;


}


align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}

.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: #222;
}
.font-cond-b {
    font-weight: 700 !important;
}

#menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}
.product-img{
  height: 11vw;
  width: 11vw;
  border-radius: 50%;
}

@media (max-width:700px){
  .product-img{
    height: 23vw;
    width: 23vw;
    border-radius: 50%;
  }
}


.map_sec{
    padding: 50px 0px;
}
.map_inner{
  font-family: 'Montserrat', sans-serif;
}
.map_bind{
   margin-top: 50px;
    border-radius: 30px;
    overflow: hidden;
    margin-bottom: 50px;
}


.heading h1 {
  text-align:center; font-size:50px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
}
@media (max-width: 640px){
	.heading h1 {
    font-size:35px;
  }
  .heading h1 span {
    font-size:10px;
  }
}

.heading h1 span {
  margin-top: 5px;
    font-size:15px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.heading h1 span:after,.heading h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  background-color:#f8f8f8;
}




.AUH h1 {
  text-align:center; font-size:40px; text-transform:uppercase; color:#222; letter-spacing:1px;
  font-family:"Playfair Display", serif; font-weight:400;
}


.AUH h1 span {
    margin-top: 5px;
    font-size:11px; color:#444; word-spacing:1px; font-weight:normal; letter-spacing:2px;
    text-transform: uppercase; font-family:"Raleway", sans-serif; font-weight:500;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.AUH h1 span:after,.AUH h1 span:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 5px;
  background-color:#f8f8f8;
}
@media (max-width: 640px){
	.AUH h1 {
    font-size:28px;
  }
  .AUH h1 span {
    font-size:7px;
  }
}

.about-text{
  padding-bottom: 190px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
}

.faa{
  padding-left: 1%;
  padding-right: 1%;
}
.faa:hover{
  color: #007bb6;
  transition: color .3s ease-in-out;
}
.fa{
  color: white;

}
.heart{
  padding-left: 0.5%;
}
.heart:hover{
  color: red;
  transition: color .3s ease-in-out;
}
@media (min-width:767px){
  .extra_space{
    display: none;
  }
}
@media (min-width:360px){
  .extra_extra_space{
    display: none;
  }
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:13px;
	right:13px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.ftr1 {
  position:absolute;
  bottom:0;
  font-family: 'Montserrat', sans-serif;
  left:0px;
  /* height: 6.5%; */
  background-color: #212529;
  width: 100%;
  color: white;
  text-align: center;
  margin-top: 10vh;

}
.ftr2{

  padding-top: 1vh;
  color: white;
  background-color: #212529;
  text-align: center;

}
